inference
inference-gpu
supervision
opencv-python
bitsandbytes
transformers
peft
accelerate
trl
einops
safetensors
torch
xformers
langchain
ctransformers[cuda]
chromadb
sentence-transformers
pandas
torch
numpy
matplotlib
tensorflow 
playwright 
html2text 
faiss-cpu
openai
os
json
skimage
torchvision
flash-attn
supervision